rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Surveys should be world-readable and writable for development
    match /surveys/{surveyId} {
      allow read: if true;
      allow write: if true; 
    }

    // Feedback submissions can be created by anyone and read by anyone
    match /feedback/{feedbackId} {
        allow create: if true;
        allow read: if true; 
        allow update: if true;
        allow delete: if true;
    }
  }
}
